<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="AllowBigMessageSize" maxReceivedMessageSize="999999">
            
          </binding>
        </wsHttpBinding>

        <netNamedPipeBinding>
          <binding name="SupportTransactionsNewNameBinding" transactionFlow="true">
            
          </binding>
        </netNamedPipeBinding>
      </bindings> 
       <behaviors>
            <serviceBehaviors>
                <behavior name="ExposeMetaDataBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9876/CarManagement/MEX" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="ExposeMetaDataBehavior" name="CarManagementService.CarManagementImplementation">
                <endpoint address="http://localhost:9876/CarManagementService"
                    binding="wsHttpBinding" bindingConfiguration="AllowBigMessageSize" contract="CarManagementInterface.ICarManagement" />

            
                
             
            </service>
            <service name="CustomerService.CustomerServiceImplementation">
                <endpoint address="http://localhost:9876/CustomerService" binding="wsHttpBinding"
                    bindingConfiguration="" contract="CustomerInterface.ICustomer" />
               <endpoint
                 address="net.pipe://localhost/rentalservice"
                 binding="netNamePipedBinding"
                 bindingConfiguration="SupportTransactionsNewNameBinding"
                 contract="RentalInterface.IRental" />
            </service>
            <service name="RentalService.RentalServiceImplementation">
                <endpoint address="http://localhost:9876/RentalService" binding="wsHttpBinding"
                    bindingConfiguration="" contract="RentalInterface.IRental" />
              <endpoint
                address="net.pipe://localhost/customerservice"
                binding="netNamePipedBinding"
                bindingConfiguration="SupportTransactionsNewNameBinding"
                contract="CustomerInterface.ICustomer" />
            </service>
            <service name="ExternalInterfaceFacade.ExternalInterfaceFacadeImplementation">
                <endpoint address="http://localhost:9876/ExternalInterfaceFacade"
                    binding="wsHttpBinding" bindingConfiguration="" contract="ExternalInterface.IExternalInterface" />
            </service>
        </services>
    </system.serviceModel>
</configuration>